<div class="navbar-container">
    <div class="navbar-form">
        <form action="/jobs/search" method="GET">
            <input type="text" class="navbar-search-title" placeholder="Job title or keywords" name="jobTitle" value="<%= jobTitle ? jobTitle : '' %>" required/>
            <input type="text" class="navbar-search-location" placeholder="Town, city or postcode" name="location" value="<%= location ? location : '' %>" required/>
            <select class="navbar-search-radius" placeholder="Radius (miles)" name="radius">
              <option value="20" <%= radius == '20' ? 'selected' : '' %> >20 miles</option>
              <option value="30" <%= radius == '30' ? 'selected' : '' %> >30 miles</option>
              <option value="50" <%= radius == '50' ? 'selected' : '' %> >50 miles</option>
              <option value="100" <%= radius == '100' ? 'selected' : '' %> >100 miles</option>
            </select>
            <div class="navbar-search-button">
              <button type="submit">Search</button>
            </div>
        </form>
        <div class="navbar-register-login-container">
            <div class="navbar-register">
                <a href="/u/register">Register</a>
            </div>
             / 
            <div class="navbar-login">
                <a href="/u/login">Login</a>
            </div>
        </div>
        <div class="navbar-my-account">
            <div class="navbar-my-account-title">My Account</div>
        </div>
    </div>
</div>