<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Posting</title>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/jobs/jobpost.css">
</head>
<body>
    <%- include('../templates/navbar') %>
    <div class="container">
        <div class="banner-container"></div>
        <div class="header-container">
            <div class="header-company-img" style="background: url(<%= content['companyLogo'] %>) center no-repeat;"></div>
            <div class="header-job-title">
                <%= content['title'] %>
            </div>
        </div>
        <div class="found-on-container">
            Found on <b><%= content['service'] %></b>
        </div>
        <div class="job-details-container">
            <div class="job-details-location">
                <div class="job-details-location-icon">
                    <img src="/img/icon/location-icon.svg" alt=""/>
                </div>
                <div class="job-details-location-text">
                    <%= content['location'] %>
                </div>
                <div class="job-details-location-google-maps">
                    <a href="#">Google Maps</a>
                </div>
            </div>
            <div class="job-details-salary">
                <div class="job-details-salary-icon">
                    <img src="/img/icon/salary-icon.svg" alt=""/>
                </div>
                <div class="job-details-salary-text">
                    <%= content['salary'] %>
                </div>
            </div>
            <div class="job-details-company">
                <div class="job-details-company-icon">
                    <img src="/img/icon/company-icon.svg" alt=""/>
                </div>
                <div class="job-details-company-text">
                    <a href="<%= content['companyLink'] %>"><%= content['company'] %></a>
                </div>
            </div>
            <div class="job-details-type">
                <div class="job-details-type-icon">
                    <img src="/img/icon/clock-icon.svg" alt=""/>
                </div>
                <div class="job-details-type-text">
                    <%= content['type'] %>
                </div>
            </div>
            <div class="job-details-listed">
                <div class="job-details-listed-icon">
                    <img src="/img/icon/calendar-icon.svg" alt=""/>
                </div>
                <div class="job-details-listed-text">
                    <%= content['listed'] %>
                </div>
            </div>
        </div>
        <div class="job-details-divider"></div>
        <div class="apply-button">
            <button>Apply</button>
        </div>
        <div class="job-content-container">
            <%- content['description'] %>
        </div>
    </div>
    <script>
        function openInNewTab(url) {
            let win = window.open(url, '_blank');
            win.focus();
        }
    </script>
</body>
</html>