<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Searcher</title>
  <%- include('../templates/head') %>
  <link rel="stylesheet" href="/css/jobs/results.css">
</head>
<body>
  <div class="job-results">
    <% for (let i = 0; i < jobs.length; i++) { %>
      <div class="job-result">
        <div class="job-details">
          <div class="job-title"><%= jobs[i].jobTitle %></div>
          <div class="job-company"><%= jobs[i].company %></div>
          <div class="job-location"><%= jobs[i].location %></div>
          <div class="job-salary"><%= jobs[i].salary %></div>
        </div>
        <div class="job-footer">
          <div class="job-listed"><%= jobs[i].timeListed %></div>
          <div class="job-service"><%= jobs[i].service %></div>
        </div>
      </div>
    <% } %>
  </div>

</body>
</html>